target/
*.so
venv*
*.egg-info
__pycache__
build/
dist/
fil-result/
.eggs/
benchmarks/pymalloc.c
tests/test-scripts/pymalloc.c
filprofiler/_version.py
.ipynb_checkpoints
pip-wheel-metadata
filprofiler/_fil-python