pytest
pampy
numpy
#scikit-image
cython
black
towncrier
wheel
auditwheel
twine
ipython
ipykernel
nbconvert
jinja2<3.1  # compatibility issues with jinja2.Markup in nbconvert
numexpr
blosc
psutil
flake8
